body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:544px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:673px;
}
#u1465 {
  position:absolute;
  left:164px;
  top:24px;
  width:380px;
  height:673px;
}
#u1466 {
  position:absolute;
  left:2px;
  top:328px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
