body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1691px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1691px;
  height:940px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:1691px;
  height:940px;
}
#u200 {
  position:absolute;
  left:2px;
  top:462px;
  width:1687px;
  visibility:hidden;
  word-wrap:break-word;
}
