body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1388px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1388px;
  height:701px;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:1388px;
  height:701px;
}
#u952 {
  position:absolute;
  left:2px;
  top:342px;
  width:1384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953 {
  position:absolute;
  left:217px;
  top:162px;
  width:25px;
  height:16px;
}
#u954 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u955 {
  position:absolute;
  left:217px;
  top:208px;
  width:25px;
  height:16px;
}
#u956 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u957 {
  position:absolute;
  left:217px;
  top:268px;
  width:25px;
  height:16px;
}
#u958 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1238px;
  height:2019px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u959 {
  position:absolute;
  left:149px;
  top:43px;
  width:1238px;
  height:2019px;
}
#u960 {
  position:absolute;
  left:2px;
  top:1002px;
  width:1234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u961 {
  position:absolute;
  left:166px;
  top:71px;
  width:85px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u963 {
  position:absolute;
  left:166px;
  top:119px;
  width:183px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u964 {
  position:absolute;
  left:2px;
  top:8px;
  width:179px;
  word-wrap:break-word;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u965 {
  position:absolute;
  left:300px;
  top:122px;
  width:44px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u966 {
  position:absolute;
  left:2px;
  top:4px;
  width:40px;
  word-wrap:break-word;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u967 {
  position:absolute;
  left:373px;
  top:119px;
  width:161px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u968 {
  position:absolute;
  left:2px;
  top:8px;
  width:157px;
  word-wrap:break-word;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u969 {
  position:absolute;
  left:564px;
  top:119px;
  width:161px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u970 {
  position:absolute;
  left:2px;
  top:8px;
  width:157px;
  word-wrap:break-word;
}
#u971 {
  position:absolute;
  left:217px;
  top:208px;
  width:25px;
  height:16px;
}
#u972 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u973 {
  position:absolute;
  left:217px;
  top:268px;
  width:25px;
  height:16px;
}
#u974 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u975 {
  position:absolute;
  left:166px;
  top:188px;
  width:1218px;
  height:156px;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:32px;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:32px;
}
#u977 {
  position:absolute;
  left:2px;
  top:8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:32px;
}
#u978 {
  position:absolute;
  left:41px;
  top:0px;
  width:51px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u979 {
  position:absolute;
  left:2px;
  top:7px;
  width:47px;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
}
#u980 {
  position:absolute;
  left:92px;
  top:0px;
  width:112px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u981 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:32px;
}
#u982 {
  position:absolute;
  left:204px;
  top:0px;
  width:144px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u983 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:32px;
}
#u984 {
  position:absolute;
  left:348px;
  top:0px;
  width:152px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u985 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
}
#u986 {
  position:absolute;
  left:500px;
  top:0px;
  width:78px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u987 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
}
#u988 {
  position:absolute;
  left:578px;
  top:0px;
  width:94px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u989 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
}
#u990 {
  position:absolute;
  left:672px;
  top:0px;
  width:73px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u991 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
}
#u992 {
  position:absolute;
  left:745px;
  top:0px;
  width:101px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u993 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
}
#u994 {
  position:absolute;
  left:846px;
  top:0px;
  width:101px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u995 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
}
#u996 {
  position:absolute;
  left:947px;
  top:0px;
  width:109px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u997 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:32px;
}
#u998 {
  position:absolute;
  left:1056px;
  top:0px;
  width:157px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u999 {
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:58px;
}
#u1000 {
  position:absolute;
  left:0px;
  top:32px;
  width:41px;
  height:58px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:21px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:58px;
}
#u1002 {
  position:absolute;
  left:41px;
  top:32px;
  width:51px;
  height:58px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:22px;
  width:47px;
  word-wrap:break-word;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:58px;
}
#u1004 {
  position:absolute;
  left:92px;
  top:32px;
  width:112px;
  height:58px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:21px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:58px;
}
#u1006 {
  position:absolute;
  left:204px;
  top:32px;
  width:144px;
  height:58px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:21px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:58px;
}
#u1008 {
  position:absolute;
  left:348px;
  top:32px;
  width:152px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1009 {
  position:absolute;
  left:2px;
  top:20px;
  width:148px;
  word-wrap:break-word;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:58px;
}
#u1010 {
  position:absolute;
  left:500px;
  top:32px;
  width:78px;
  height:58px;
}
#u1011 {
  position:absolute;
  left:2px;
  top:21px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:58px;
}
#u1012 {
  position:absolute;
  left:578px;
  top:32px;
  width:94px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1013 {
  position:absolute;
  left:2px;
  top:21px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:58px;
}
#u1014 {
  position:absolute;
  left:672px;
  top:32px;
  width:73px;
  height:58px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:20px;
  width:69px;
  word-wrap:break-word;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:58px;
}
#u1016 {
  position:absolute;
  left:745px;
  top:32px;
  width:101px;
  height:58px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:21px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:58px;
}
#u1018 {
  position:absolute;
  left:846px;
  top:32px;
  width:101px;
  height:58px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:21px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:58px;
}
#u1020 {
  position:absolute;
  left:947px;
  top:32px;
  width:109px;
  height:58px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:21px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:58px;
}
#u1022 {
  position:absolute;
  left:1056px;
  top:32px;
  width:157px;
  height:58px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:21px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:61px;
}
#u1024 {
  position:absolute;
  left:0px;
  top:90px;
  width:41px;
  height:61px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:22px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:61px;
}
#u1026 {
  position:absolute;
  left:41px;
  top:90px;
  width:51px;
  height:61px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:23px;
  width:47px;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:61px;
}
#u1028 {
  position:absolute;
  left:92px;
  top:90px;
  width:112px;
  height:61px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:22px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:61px;
}
#u1030 {
  position:absolute;
  left:204px;
  top:90px;
  width:144px;
  height:61px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:22px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:61px;
}
#u1032 {
  position:absolute;
  left:348px;
  top:90px;
  width:152px;
  height:61px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:22px;
  width:148px;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:61px;
}
#u1034 {
  position:absolute;
  left:500px;
  top:90px;
  width:78px;
  height:61px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:22px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:61px;
}
#u1036 {
  position:absolute;
  left:578px;
  top:90px;
  width:94px;
  height:61px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:22px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:61px;
}
#u1038 {
  position:absolute;
  left:672px;
  top:90px;
  width:73px;
  height:61px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:22px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1040 {
  position:absolute;
  left:745px;
  top:90px;
  width:101px;
  height:61px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:22px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1042 {
  position:absolute;
  left:846px;
  top:90px;
  width:101px;
  height:61px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:22px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:61px;
}
#u1044 {
  position:absolute;
  left:947px;
  top:90px;
  width:109px;
  height:61px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:61px;
}
#u1046 {
  position:absolute;
  left:1056px;
  top:90px;
  width:157px;
  height:61px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:22px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048 {
  position:absolute;
  left:182px;
  top:199px;
  width:25px;
  height:16px;
}
#u1049 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1050 {
  position:absolute;
  left:182px;
  top:245px;
  width:25px;
  height:16px;
}
#u1051 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1052 {
  position:absolute;
  left:182px;
  top:305px;
  width:25px;
  height:16px;
}
#u1053 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u1054 {
  position:absolute;
  left:288px;
  top:303px;
  width:61px;
  height:15px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:0px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
}
#u1056 {
  position:absolute;
  left:300px;
  top:245px;
  width:25px;
  height:13px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:-2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:48px;
}
#u1058 {
  position:absolute;
  left:408px;
  top:226px;
  width:86px;
  height:48px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:16px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:48px;
}
#u1060 {
  position:absolute;
  left:408px;
  top:284px;
  width:86px;
  height:48px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:16px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1062 {
  position:absolute;
  left:1226px;
  top:234px;
  width:47px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1063 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1064 {
  position:absolute;
  left:1281px;
  top:234px;
  width:44px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1065 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1066 {
  position:absolute;
  left:1330px;
  top:234px;
  width:44px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1067 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:658px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1068 {
  position:absolute;
  left:0px;
  top:43px;
  width:149px;
  height:658px;
}
#u1069 {
  position:absolute;
  left:2px;
  top:321px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1070 {
  position:absolute;
  left:41px;
  top:79px;
  width:43px;
  height:20px;
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099CC;
}
#u1072 {
  position:absolute;
  left:41px;
  top:109px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099CC;
}
#u1073 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u1074 {
  position:absolute;
  left:290px;
  top:71px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u1075 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:188px;
}
#u1076 {
  position:absolute;
  left:661px;
  top:177px;
  width:192px;
  height:188px;
  color:#FF0000;
}
#u1077 {
  position:absolute;
  left:2px;
  top:86px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1078 {
  position:absolute;
  left:661px;
  top:382px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1079 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
